<li class="episode{{if this.episodeIsVisible " -episode-is-visible"}}">

  <div
    class="episode_titles cursor-pointer d-flex"
    onClick={{action this.toggleEpisodeVisibility}}
    role="button"
  >
    <span class="episode_title">{{this.args.episode.number}}. {{this.args.episode.name}}</span>
    <span class="episode_action-show-episode">
      {{#if this.episodeIsVisible}}
        Masquer l'épidode
      {{else}}
        Regarder cet épisode
      {{/if}}
    </span>
  </div>

  {{#liquid-spacer growDuration=200}}
    {{#if this.episodeIsVisible}}
      <div class="episode_block">

        <iframe
          src={{this.args.episode.videoUrl}}
          class="episode_iframe"
          allowfullscreen="true"
          scrolling="false"
        />

        <div class="copy">
          <CopyBox @seasonNumber={{this.args.seasonNumber}} @episodeNumber={{this.args.episode.number}} />
          <Instructions />
        </div>

      </div>
    {{/if}}
  {{/liquid-spacer}}

</li>
