<div class="site-main d-block">
  <div class="row">

    <div class="col-md-4">
      <section class="episodes-selection">

        <h2 class="font-weight-bold text-size-normal">
          Selection des épisodes
        </h2>

        <ol class="seasons-list">
          <SeasonButton @number="1" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 1}} />
          <SeasonButton @number="2" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 2}} />
          <SeasonButton @number="3" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 3}} />
          <SeasonButton @number="4" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 4}} />
          <SeasonButton @number="5" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 5}} />
          <SeasonButton @number="6" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 6}} />
          <SeasonButton @number="7" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 7}} />
          <SeasonButton @number="8" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 8}} />
          <SeasonButton @number="9" @selectedSeason={{this.selectedSeason}} onClick={{action this.selectEpisode 9}} />
        </ol>

        <table class="episodes-list">
          {{#each this.episodes key="@index" as |episode|}}
            <EpisodeButton @episode={{episode}} />
          {{/each}}
        </table>

      </section>
    </div>

    <div class="col-md-8">
      <section class="selected-epidsodes">
        <h2 class="selected-epidsodes_title font-weight-bold text-size-normal margin-b-0">
          Episodes selectionnés
        </h2>
        <span class="selected-epidsodes_count zero">(0)</span>
      </section>
    </div>

  </div>
</div>
