<div class="episode-player">
  <IconTimes
    class="episode-player_close cursor-pointer"
    onClick={{action @closeEpisode}}
  />

  <h3 class="episode-player_title">
    S{{@episode.season}} e{{@episode.number}} - {{@episode.name}}
  </h3>
  {{@lastAddedEpisode.number}}

  <iframe
    src={{@episode.videoUrl}}
    class="episode-player_iframe"
    allowfullscreen="true"
    scrolling="false"
  />

  <CopyBox @episode={{@episode}} />
</div>
